@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Helvetica, Arial, sans-serif;
  color: #003b28;
  background-color: #ffffff;
}

.clickable-div {
  cursor: pointer;
}
